<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.518987,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{162,1},{79,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.506329,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{81,1},{79,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{83,203},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{165,203},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.543478}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{1,303},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.561798}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{83,303},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.555556}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{1,203},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.526316}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{165,103},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.515464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{1,103},{80,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5125,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{83,103},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.786408,0.555556}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{106,513},{103,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.794393,0.609756}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,82}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{1,693},{107,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.798165,0.625}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,80}</string>
                <key>spriteSourceSize</key>
                <string>{109,80}</string>
                <key>textureRect</key>
                <string>{{110,693},{109,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.313559,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{1,777},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.213592,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{1,513},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.213592,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{102,412},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.211538,0.675676}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,74}</string>
                <key>spriteSourceSize</key>
                <string>{104,74}</string>
                <key>textureRect</key>
                <string>{{1,611},{104,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.579545,0.46729}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,107}</string>
                <key>spriteSourceSize</key>
                <string>{88,107}</string>
                <key>textureRect</key>
                <string>{{165,303},{88,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.616162,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,412},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.632075,0.625}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,80}</string>
                <key>spriteSourceSize</key>
                <string>{106,80}</string>
                <key>textureRect</key>
                <string>{{107,611},{106,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541985,0.9}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,70}</string>
                <key>spriteSourceSize</key>
                <string>{131,70}</string>
                <key>textureRect</key>
                <string>{{121,777},{131,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541985,0.898551}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,69}</string>
                <key>textureRect</key>
                <string>{{1,887},{131,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy1.png</string>
            <key>size</key>
            <string>{254,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d17efdc69aa566a92078cc0e590d5e40:e14cf761d0e4660b379e418c13eca4b4:06f49396bc0f82a4363402ee68769a4a$</string>
            <key>textureFileName</key>
            <string>enemy1.png</string>
        </dict>
    </dict>
</plist>
