<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{183,730},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.518987,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{329,629},{79,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.506329,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{102,730},{79,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{247,629},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{1,629},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.543478}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{106,531},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.561798}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{221,439},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.555556}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{400,439},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.526316}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{188,531},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.515464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,97}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{83,629},{80,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5125,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{165,629},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.786408,0.555556}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{1,531},{103,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.794393,0.609756}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,82}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{112,439},{107,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.798165,0.625}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,80}</string>
                <key>spriteSourceSize</key>
                <string>{109,80}</string>
                <key>textureRect</key>
                <string>{{1,439},{109,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.313559,0.462963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{118,108}</string>
                <key>textureRect</key>
                <string>{{172,835},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.213592,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{270,531},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.213592,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{375,531},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.211538,0.675676}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,74}</string>
                <key>spriteSourceSize</key>
                <string>{104,74}</string>
                <key>textureRect</key>
                <string>{{63,357},{104,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.579545,0.46729}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,107}</string>
                <key>spriteSourceSize</key>
                <string>{88,107}</string>
                <key>textureRect</key>
                <string>{{82,835},{88,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.616162,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,730},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.632075,0.625}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,80}</string>
                <key>spriteSourceSize</key>
                <string>{106,80}</string>
                <key>textureRect</key>
                <string>{{363,357},{106,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541985,0.9}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,70}</string>
                <key>spriteSourceSize</key>
                <string>{131,70}</string>
                <key>textureRect</key>
                <string>{{1,282},{131,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541985,0.898551}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,69}</string>
                <key>textureRect</key>
                <string>{{340,211},{131,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.46}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{377,94},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511111,0.46}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{425,94},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511111,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{404,45},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.511111}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{267,45},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.479167}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{143,94},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.46}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{282,94},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511111,0.46}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{330,94},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.511111,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{311,45},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{358,45},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521739,0.489362}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{95,94},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.320755,0.534884}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{51,45},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.313725,0.547619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{426,1},{51,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380952,0.547619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{382,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.439024,0.489362}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{451,45},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.327273,0.534884}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,43}</string>
                <key>textureRect</key>
                <string>{{106,45},{55,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.358491,0.534884}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{163,45},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.611111}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{241,1},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.594595}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{335,1},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.59375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,32}</string>
                <key>textureRect</key>
                <string>{{145,1},{45,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{218,45},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,43}</string>
                <key>textureRect</key>
                <string>{{1,45},{48,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,37}</string>
                <key>spriteSourceSize</key>
                <string>{46,37}</string>
                <key>textureRect</key>
                <string>{{287,1},{46,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.592593}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,27}</string>
                <key>spriteSourceSize</key>
                <string>{46,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.510638,0.617647}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{192,1},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_dead_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521739,0.625}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{97,1},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.506849}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{371,282},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507937,0.544118}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{275,211},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.521127}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{134,282},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492063,0.493333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{233,357},{63,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492063,0.493333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{298,357},{63,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.483871,0.493333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{169,357},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{1,357},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.491803,0.552239}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{212,211},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.506849}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{437,282},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.776471,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,63}</string>
                <key>spriteSourceSize</key>
                <string>{85,63}</string>
                <key>textureRect</key>
                <string>{{289,146},{85,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.764706,0.587302}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,63}</string>
                <key>spriteSourceSize</key>
                <string>{85,63}</string>
                <key>textureRect</key>
                <string>{{376,146},{85,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.767442,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,63}</string>
                <key>textureRect</key>
                <string>{{201,146},{86,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.177083,0.398058}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,103}</string>
                <key>spriteSourceSize</key>
                <string>{96,103}</string>
                <key>textureRect</key>
                <string>{{367,730},{96,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.177083,0.431193}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{292,835},{96,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{263,730},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.155963,0.84375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,64}</string>
                <key>spriteSourceSize</key>
                <string>{109,64}</string>
                <key>textureRect</key>
                <string>{{1,211},{109,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.184783,0.787234}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,47}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{1,94},{92,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.186813,0.755102}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,49}</string>
                <key>spriteSourceSize</key>
                <string>{91,49}</string>
                <key>textureRect</key>
                <string>{{189,94},{91,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.278481,0.365385}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,104}</string>
                <key>spriteSourceSize</key>
                <string>{79,104}</string>
                <key>textureRect</key>
                <string>{{1,835},{79,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231579,0.422222}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,90}</string>
                <key>textureRect</key>
                <string>{{303,439},{95,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.214286,0.666667}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,57}</string>
                <key>spriteSourceSize</key>
                <string>{98,57}</string>
                <key>textureRect</key>
                <string>{{1,146},{98,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.214286,0.567164}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,67}</string>
                <key>spriteSourceSize</key>
                <string>{98,67}</string>
                <key>textureRect</key>
                <string>{{112,211},{98,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.214286,0.644068}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{98,59}</string>
                <key>textureRect</key>
                <string>{{101,146},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.0833333,0.69863}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,73}</string>
                <key>spriteSourceSize</key>
                <string>{84,73}</string>
                <key>textureRect</key>
                <string>{{285,282},{84,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_dead_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.0722892,0.704225}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{200,282},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{502,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75c496bdff501a7a7e4b51b61e45921d:326351612ae9259264f011c3ee1b00f5:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
